.section__aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  &--title {
    margin-bottom: 50px;
    font-size: 80px;
    @include desktop {
      font-size: 60px;
    }
  }
  &--text {
    width: 70%;
    font-size: 40px;
    @include desktop {
      font-size: 25px;
      width: 800px;
    }
  }
}
