.section__aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  &--title {
    margin-bottom: 50px;
  }
  &--text {
    width: 70%;
    font-size: 40px;
  }
}
