@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 60px;
    font-size: 80px;
  }
  &__form {
    &--input {
      font-size: 2em;
      font-family: 'Dosis', sans-serif;
      width: 600px;
      height: 100px;
      padding: 0px 15px 0px 15px;

      background: rgba(216, 252, 215, 0.164);
      outline: none;

      border: solid 3px black;
      border-bottom: none;

      transition: all 0.3s ease-in-out;
    }
  }
}

#form {
  position: relative;
  width: 600px;
  margin: 50px auto 100px auto;
}

input:hover {
  background: #e7bbe498;
  color: $grey;
}

textarea {
  width: 600px;

  height: 160px;

  padding: 15px;

  background: transparent;
  outline: none;

  color: #222222;
  font-family: 'Lato', sans-serif;
  font-size: 2em;

  border: solid 3px black;

  transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #cccac994;
  color: $grey;
}

#submit {
  width: 600px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: #222222;

  outline: none;
  cursor: pointer;

  border: solid 3px black;
  border-top: none;
}

#submit:hover {
  color: $grey;
}
