.header {
  background-color: rgb(128, 252, 128);
}

.menu {
  position: fixed;
  left: 0;
  width: 30vh;
  height: 100%;
  background-color: $darkgreen;
  transition: 350ms;

  &.active {
    left: -600px;
    transition: 350ms;
  }

  &__icon--fa {
    width: 80px;
    height: 80px;
    left: 0;
    z-index: 1;
    position: fixed;
    cursor: pointer;
    border-radius: 10px;
    margin: 30px;
  }
  &__list {
    margin-left: 30px;
    position: relative;
    margin-top: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    &--item {
      font-size: 80px;
      color: white;
      padding: 40px;

      &:hover {
        transition: 350ms;
        text-shadow: 2px 2px 4px #d1d1d1;
        transform: scale(1.03);
      }
    }
  }
}
