.header {
  background-color: rgb(128, 252, 128);
}

.menu {
  position: fixed;
  left: 0;
  width: 30vh;
  height: 100%;
  background-color: rgb(121, 194, 194);
  transition: 350ms;

  &.active {
    left: -200px;
    transition: 350ms;
  }

  &__img {
    width: 40px;
    height: 40px;
    right: 0;
    position: fixed;
    cursor: pointer;
    border-radius: 10px;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    &--item {
      font-size: 25px;
      color: white;
    }
  }
}
