.header {
  background-color: $lightgreen;
  @include desktop {
    display: flex;
    width: 100%;
    height: 15vh;
  }
}

.menu {
  position: fixed;
  left: 0;
  width: 30vh;
  height: 100%;
  background-color: $darkgreen;
  transition: 350ms;
  z-index: 1;
  @include desktop {
    width: 100%;
    height: 15vh;
    background-color: $lightgreen;
  }

  &.active {
    left: -600px;
    transition: 350ms;
    @include desktop {
      left: 0px;
    }
  }

  &__icon--fa {
    width: 80px;
    height: 80px;
    left: 0;
    z-index: 2;
    position: fixed;
    cursor: pointer;
    border-radius: 10px;
    margin: 30px;
    color: $grey;
    @include desktop {
      display: none;
    }
  }
  &__list {
    margin-left: 30px;
    position: relative;
    margin-top: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      margin-left: 0px;
      margin-top: 0px;
      justify-content: flex-end;
    }
    &--item {
      font-size: 80px;
      color: white;
      padding: 40px;
      @include desktop {
        font-size: 50px;
      }

      &:hover {
        transition: 350ms;
        text-shadow: 2px 2px 4px #d1d1d1;
        transform: scale(1.03);
      }
    }
  }
}
