.main {
  background-color: $lightgreen;
}

.section__intro {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  @include desktop {
    display: flex;
    flex-direction: row;
  }

  &--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &--div1 {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--img {
    width: 600px;
    height: 600px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.596);
    margin: 50px;
    margin-top: 170px;
    @include desktop {
      width: 400px;
      height: 400px;
    }
  }
  &--title {
    font-size: 80px;
    margin: 30px;
    text-align: center;
    @include desktop {
      width: 500px;
      font-size: 60px;
    }
  }
  &--text {
    font-size: 60px;
    margin-bottom: 30px;
    @include desktop {
      font-size: 50px;
      width: 300px;
      margin: 30px;
    }
  }
  &--list {
    list-style: none;
    display: flex;
  }
  &--icons {
    height: 70px;
    width: 70px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-right: 10px;
    @include desktop {
      height: 40px;
      width: 40px;
    }
    &:hover {
      fill: rgba(211, 142, 191, 0.74);
    }
  }
}
