.main {
  background-color: $lightgreen;
}

.section__intro {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  &--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--img {
    width: 500px;
    height: 500px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.596);
    margin: 50px;
    margin-top: 170px;
  }
  &--title {
    font-size: 60px;
    margin: 10px;
  }
  &--text {
    font-size: 40px;
    margin-bottom: 30px;
  }
  &--list {
    list-style: none;
    display: flex;
  }
  &--icons {
    height: 70px;
    width: 70px;
  }
}
