.main {
  background-color: white;
}

.section__intro {
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
  padding-top: 30px;

  @include desktop {
    display: flex;
    flex-direction: row;
  }

  &--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &--div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop {
      width: 900px;
    }
  }

  &--img {
    width: 600px;
    height: 600px;
    border-radius: 25%;
    border: 1px dashed rgb(68, 68, 68);
    background-color: rgba(255, 255, 255, 0.596);
    margin: 50px;
    margin-top: 170px;
    @include desktop {
      width: 400px;
      height: 400px;
      margin: 0;
    }
  }
  &--title {
    font-size: 80px;
    margin: 30px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #642922;
    @include desktop {
      width: 800px;
      font-size: 60px;
      margin-bottom: 20px;
    }
  }
  &--text {
    font-size: 60px;
    margin-bottom: 30px;
    color: #642922;
    font-family: 'Amatic SC', cursive;

    @include desktop {
      font-size: 50px;
      width: 700px;
      margin: 0;
    }
  }
  &--list {
    list-style: none;
    display: flex;
  }
  &--icons {
    height: 70px;
    width: 70px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-right: 10px;
    color: $grey;
    @include desktop {
      height: 40px;
      width: 40px;
    }
    &:hover {
      fill: rgba(211, 142, 191, 0.74);
    }
  }
}
