.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__title {
    font-size: 80px;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    width: 100%;
    height: 50%;
    &--item {
      overflow: hidden;
      position: relative;

      transition: 1s ease-in-out;
      &:hover > img {
        transform: scale(1.3);
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        inset: 0;
      }
    }
  }
  &__img {
    filter: grayscale(50%);
  }
}
