//colors
$lightgreen: #b4e499be;
$green: #83eb6d;
$darkgreen: #e2a0a0f1;

$grey: #a83b2d;

$body: #fef3c7;
$stroke: #111827;
$shadow: #1d3811;

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
