* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.circle {
  position: absolute;
  width: 250px;
  height: 200px;
  z-index: 0;
  display: none;
  left: 0px;
}

.line {
  position: absolute;
  width: 360px;
  height: 120px;
  display: none;
  z-index: 0;
}

.line2 {
  position: absolute;
  width: 250px;
  height: 140px;
  display: none;
  z-index: 0;
  left: 0;
}
