* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.back__image {
  position: absolute;
}

.lea {
  width: 220px;
  height: 220px;
  right: 90px;
  top: -30px;
  transform: rotate(-50deg);
}

.circle {
  width: 820px;
  height: 820px;
  left: 0;
  top: 400px;
}

.leave {
  width: 720px;
  height: 720px;
  top: 1300px;
  left: -200px;
}

.cloud {
  right: 0;
  top: 2150px;
}

.beans {
  width: 180px;
  height: 180px;
  left: 40px;
  top: 3300px;
}
