// @import 'core/mixins';
@import './core/variables.scss';
// @import 'core/reset';
@import 'pages/_index';
@import 'layout/_header';
@import 'layout/_hero';
// @import 'layout/_main';
// @import 'layout/_section-card-preview';
// @import 'layout/_section-design';
// @import 'layout/_section-fill';
// @import 'layout/_section-share';
